
.prueca{
    background-color: #778899;
}


.titulo{
    text-align: center;
    color: #faf;

}

.esquinas{
    border-radius: 20px;
}

.txt_cent{
    text-align: center;
  }

/* Add a gray background color and some padding to the footer */

html {
	  min-height: 100%;
	  position: relative;
	}
.my-body {
	  margin: 0;
	  margin-bottom: 7%;
	  padding-bottom: 7%;
	}

.footer_m{
      position: absolute;
	  bottom: 0;
	  width: 100%;
      background-color: #C1C0C0;
      padding: 25px;
    }

.fondo_b{
  background-color: white;
  border-radius: 10rem;
  color:black;
}

.separador{
  margin-bottom: 1rem;
}



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: green;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.img-alto{
  position: relative;
  height: 45rem;
  width:100%;
  background-color: #2BE5CD;
}

.alto{
  position: relative;
  height: 45rem;
  width:100%;
}

#agregar{
  font-weight: bold;
  color:#000;
  font-size: 2.5rem;
  width: 35%;
  height: 7rem;
  padding: 1rem;
}

.celda{
  background-color: #A9ADAA;
  color:#000;

}

.rojo{
  color:red;
}

#div-foto{
  text-align: center;
}

#output{
  width: 42%;
  height: 25rem;
  border-radius: 50%;
}

#etiqueta{
  height: 6rem; 
  width: 50%
}

#file{
  opacity: 0;
  cursor: pointer;
}

#output-m{
  width: 30%;
  height: 25rem;
  border-radius: 50%;
}

#etiqueta-m{
  height: 6rem; 
  width: 35%
}

#output-modpro{
  width: 20%;
  height: 17rem;
  border-radius: 50%;
}

#etiqueta-modpro{
  height: 4rem; 
  width: 25%
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.div-avatar{
  margin-top: 0.5rem;
}

.avatar-p{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-p:hover{
    position: relative;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
    z-index: 1;
}

#myCarousel, .carousel-inner, .carousel-caption{
  height: 40rem;
  border-radius: 20px;
}

