
.prueca{
    background-color: #778899;
}

.tabla{
  overflow:scroll;
}

.titulo{
    text-align: center;
    color: #faf;

}

.esquinas{
    border-radius: 20px;
}

.txt_cent{
    text-align: center;
  }

/* Add a gray background color and some padding to the footer */

html {
	  min-height: 100%;
	  position: relative;
	}
.my-body {
	  margin: 0;
	  margin-bottom: 7%;
	  padding-bottom: 7%;
	}

.footer_m{
      position: absolute;
	  bottom: 0;
	  width: 100%;
      background-color: #C1C0C0;
      padding: 25px;
    }

.fondo_b{
  background-color: white;
  border-radius: 10rem;
  color:black;
}

.separador{
  margin-bottom: 1rem;
}



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: green;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.img-alto{
  position: relative;
  height: 45rem;
  width:100%;
  background-color: #2BE5CD;
}

.alto{
  position: relative;
  height: 45rem;
  width:100%;
}

#agregar{
  font-weight: bold;
  color:#000;
  font-size: 2.5rem;
  width: 35%;
  height: 7rem;
  padding: 1rem;
}

.celda{
  background-color: #A9ADAA;
  color:#000;

}

.rojo{
  color:red;
}

#div-foto{
  text-align: center;
}

#output{
  width: 42%;
  height: 25rem;
  border-radius: 50%;
}

#etiqueta{
  height: 6rem; 
  width: 50%
}

#file{
  opacity: 0;
  cursor: pointer;
}

#output-m{
  width: 30%;
  height: 25rem;
  border-radius: 50%;
}

#etiqueta-m{
  height: 6rem; 
  width: 35%
}

#output-modpro{
  width: 20%;
  height: 17rem;
  border-radius: 50%;
}

#etiqueta-modpro{
  height: 4rem; 
  width: 25%
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.div-avatar{
  margin-top: 0.5rem;
}

.avatar-p{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-p:hover{
    position: relative;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
    z-index: 1;
}

#myCarousel, .carousel-inner, .carousel-caption{
  height: 40rem;
}

@media only screen and (max-width: 600px) {
    #myCarousel, .carousel-inner, .carousel-caption{
      height: 100%;
    }
}




.col-container {
    display: table;
    width: 100%;
    padding: 15px;
    background-color: #E0C0E5;
    border-radius: 5px;
}
.vl-r{
  border-right: 5px solid #E0C0E5;
  border-bottom: 5px solid #E0C0E5;
}

.vl-l{
  border-left: 5px solid #E0C0E5;
  border-bottom: 5px solid #E0C0E5;
}

.col {
    display: table-cell;
    padding: 16px;
    width: 50%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 100%;
    }
}


/*Dropdown categoria*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*alto-slider-inicio*/
#galeria1 li a>img{
  height: 40rem;
  border: 3px solid #911189;
  border-radius: 5px;
}


/*Css para el modulo ve ventas --inicio*/
.div1{
  border: 2px solid #0A763D;
  padding: 0.5rem;
}

.div1 input{
  background-color: #DBF4FA;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  height: 8rem;
  color: black;
}

.div1 input:focus{
  border: 3px solid #000000;
}

.div1 button{
  margin-top: 10%;
  width: 80%;
  height: 6rem;
  font-weight: bold;
  font-size: 3rem;
  color: black;
}

.row{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .formita>table{
      width: 100%;
    }
}

.btn-abajo{
  height: 5rem;
}

/*Css para el modulo ve ventas --fin*/


/*CSS para boton que oculta sidebar en la seccion reportes*/
#mostrarSide{
  display:scroll;
  position:fixed;
  bottom:40px;
  left: 20px;
  z-index: 3;
  opacity: 0.6;
  border: 2px solid green;
}

.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
}

#separa{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card2{
  padding: 4px;
  border-radius: 17px;
}

.card2 div>p{
  background-color: #E1E5EE;
  border-radius: 5px;
}


.card2 form{
  background-color: #D8CBD9;
  border-radius: 17px;
}

.fondo-ventas{
  background-color: #808080;
  padding-top: 1rem;
  border-radius: 5px;
}

.alert-dark{
  background-color: #D5D5D5;
  margin-top: 1rem;
  margin-bottom: 0;
}

.alert-dark .col-md-6  table, .alert-dark .col-md-6  table tbody tr th{
  font-size: 1rem;
  padding: 1px;
  margin:1px;
}

.alert-dark h6{
  padding-bottom: 1rem;
  text-align: center;
  color: #0C0A72;
}

.alert-dark h5{
  color:red;
}




